<div style="position: fixed;height: 75px;background: black;z-index: 99999;width:100%">
    <a href="" style="position: absolute;top: 0;left: 0;width: 75px;height: 75px;padding:9px 9px;">
        <img style="width: 75px;height: 75px;border-radius:14px;" src="<{$icon}>" alt="<{$title}>">
    </a>
    <a style="text-decoration: none;">
    <dl style="margin: 0 0 0 90px;padding: 7px 0;list-style: none;color:white;">
        <dt style="line-height: 26px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 21px;">
            <{$title}>
        </dt>
        <dd style="line-height: 22px;color: #808181;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-left: 0px;">
            <img style="width: 90px;" src="/static/stars.png">
        </dd>
        <dd style="line-height: 22px;color: white;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-left: 0;width:59%;font-size: 9px;">
            <{$sub_title}>
        </dd>
    </dl>
    </a>
    <a style="position: absolute;right: 3px;top: 14px;display: inline-block;text-decoration: none;">
        <img src="<{$button}>" style="height: 50px;width:auto;">
    </a>
</div>
<div style="position: relative;height: 75px;background: #424642;z-index: 1;width:100%">
</div>